[build]
  publish = "dist"
  command = "npm install && npm run build"
  environment = { NODE_OPTIONS = "--max-old-space-size=3072" }

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/404"
  status = 404
